<style>
footer{
  padding:20px;
}

.footer-sections{
  display:flex;
  gap:40px;
}

.footer-col{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.footer-col div{
  margin-bottom:5px;
}

.footer-col a{
  text-decoration:none;
}
</style>

<footer>

  <div class="footer-sections">

    <div class="footer-col">
      <div>ما</div>
      <a href="/contact/fa">ارتباط با ما</a>
      <a href="/aboutus/fa">درباره ما</a>
      <a href="/team/fa">اعضای ما</a>
    </div>

    <div class="footer-col">
      <div>همکاری</div>
      <a href="/partnership/fa">همکاری با ما</a>
      <a href="/wholesale/fa">خرید عمده</a>
      <a href="/custom-order/fa">سفارش محصول اختصاصی</a>
    </div>

    <div class="footer-col">
      <div>محصولات</div>
      <a href="/products">صفحه محصولات</a>
    </div>

  </div>

</footer>
