<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>پنل مدیریت</title>
</head>
<body>

    <h1>ادمین پنل</h1>
    <p><%= username %> | <a href="/admin/logout">خروج از حساب</a></p>

    <hr>

    <h2>📦 محصولات</h2>
    <a href="/admin/products">مدیریت محصولات</a>

    <hr>

    <h2>✍️ بلاگ‌ها</h2>
    <a href="/admin/blogs">مدیریت بلاگ‌ها</a>

    <hr>

    <h2>❓ سوالات متداول</h2>
    <a href="/admin/faq">مدیریت سوالات متداول</a>

</body>
</html>