<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link rel="stylesheet" href="/public/css/fonts.css">

    <link rel="stylesheet" href="/public/css/blogsEnNi_style.css">
</head>

<body>

    <%- include('./partials/headerEnNi.ejs') %>

    <main>

        <section class="blog-header">
            <h1>Blog</h1>

            <div class="blog-search">
                <input type="text" id="searchInput" placeholder="Search articles">
                <button id="searchBtn">Search</button>
            </div>
        </section>

        <section class="latest-posts">
            <h2>Articles</h2>
            <div class="posts" id="posts-container"></div>
            <div id="scroll-loader">Loading...</div>
        </section>

    </main>

    <%- include('./partials/footerEnNi.ejs') %>

    <script src="/public/blogs_Script.js" defer></script>

</body>
</html>